In [2]:
import pandas as pd
import csv

In [3]:
# Load the CSV file into a DataFrame
data_origin = pd.read_csv("C:/Users/61433/Desktop/Project-3-Group-2/Data\healthcare_dataset.csv")

# Open the CSV file and list the headers using CSV library
with open("C:/Users/61433/Desktop/Project-3-Group-2/Data/healthcare_dataset.csv", mode='r') as file:
    reader = csv.reader(file)
    headers = next(reader)  # Get the first row as headers

print(headers)

['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition', 'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider', 'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date', 'Medication', 'Test Results']

In [4]:
# Get 1000 random rows
df = data_origin.sample(n=1000, random_state=1, replace=True)

#save these random rows to a new CSV file
df.to_csv('random_rows.csv', index=False)

In [5]:
# Standardize capitalisation
df['Name'] = df['Name'].str.title()
df['Doctor'] = df['Doctor'].str.title()
df['Hospital'] = df['Hospital'].str.title()
df['Medical Condition'] = df['Medical Condition'].str.capitalize()
df['Gender'] = df['Gender'].str.capitalize()
df['Test Results'] = df['Test Results'].str.capitalize()
df['Medication'] = df['Medication'].str.capitalize()

# Data type conversion
df['Age'] = df['Age'].astype(int)
df['Billing Amount'] = df['Billing Amount'].astype(float)
df['Room Number'] = df['Room Number'].astype(int)

# dropping missing values
df = df.dropna() 

#Standardize categorical data
df['Blood Type'] = df['Blood Type'].str.upper()
df['Admission Type'] = df['Admission Type'].str.capitalize()

# Removing titles from names 
df['Name'] = df['Name'].str.replace(r'\b(Dr\.?|Mrs\.?|Ms\.?|Mr\.?)\s*', '', regex=True)

# Remove duplicates
df = df.drop_duplicates()

first_10_records = df.head(10)
print(first_10_records)

                     Name  Age  Gender Blood Type Medical Condition  \
33003         Jon Proctor   58  Female         A-          Diabetes
12172    Michelle Roberts   28  Female         B-            Asthma
5192   Robert Daniels Jr.   78    Male         A+         Arthritis
32511       Glenn Estrada   33  Female         B-         Arthritis
50057        Brenda Davis   42  Female         B-            Cancer
43723       Mackenzie Cox   48  Female         B+            Cancer
7813         Michael Kemp   51  Female        AB+          Diabetes
52047        April Reeves   65    Male         O-          Diabetes
21440          Dawn Avila   64    Male         O-      Hypertension
32912        Jonathan Lee   27  Female         B-            Cancer

      Date of Admission            Doctor                      Hospital  \
33003        2023-02-18      James Nelson                Griffin-Foster
12172        2020-09-04         Lisa Hess      Walker Blake, And Hughes
5192         2022-11-22   Nicholas Graves                 Robles-Fisher
32511        2021-05-25   Matthew Goodman                Nixon Sons And
50057        2021-03-16       Eric Hudson                    Curtis Plc
43723        2021-08-06       Tyler Green                    Garcia Ltd
7813         2023-06-26    Bobby Benjamin                Jones Sons And
52047        2021-12-03   Gwendolyn Davis  Hernandez Foster, And Martin
21440        2020-06-13      Mary Watkins   Garcia Roberson Taylor, And
32912        2020-06-30  Alison Rodriguez                     Hart-Pena

      Insurance Provider  Billing Amount  Room Number Admission Type  \
33003              Cigna    19092.692951          491       Elective
12172           Medicare    11346.545701          216         Urgent
5192               Aetna    37084.986334          257      Emergency
32511           Medicare    45310.630922          388      Emergency
50057              Cigna    36569.665156          268      Emergency
43723         Blue Cross     3714.930585          304      Emergency
7813            Medicare    48365.584175          370       Elective
52047           Medicare    29193.386039          286      Emergency
21440         Blue Cross    32418.940388          246         Urgent
32912           Medicare    20453.502562          232       Elective

      Discharge Date   Medication  Test Results
33003     2023-03-14      Aspirin  Inconclusive
12172     2020-09-27  Paracetamol  Inconclusive
5192      2022-12-15   Penicillin        Normal
32511     2021-06-17    Ibuprofen        Normal
50057     2021-04-09      Lipitor      Abnormal
43723     2021-08-24    Ibuprofen        Normal
7813      2023-07-26  Paracetamol      Abnormal
52047     2021-12-29      Aspirin  Inconclusive
21440     2020-07-07    Ibuprofen      Abnormal
32912     2020-07-18  Paracetamol        Normal

In [6]:
print(df.columns)

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [7]:
# Ensure all values in 'Name' are strings
df['Name'] = df['Name'].astype(str)

# Function to split names
def split_name(name):
    parts = name.split(' ', 1)
    first_name = parts[0]
    last_name = parts[1] if len(parts) > 1 else None
    return pd.Series([first_name, last_name])

# Apply the function to the 'Name' column and create 'First_name' and 'Last_name' columns
df[['First_name', 'Last_name']] = df['Name'].apply(split_name)

# Display the first few rows to check the result
print(df.head())

                     Name  Age  Gender Blood Type Medical Condition  \
33003         Jon Proctor   58  Female         A-          Diabetes
12172    Michelle Roberts   28  Female         B-            Asthma
5192   Robert Daniels Jr.   78    Male         A+         Arthritis
32511       Glenn Estrada   33  Female         B-         Arthritis
50057        Brenda Davis   42  Female         B-            Cancer

      Date of Admission           Doctor                  Hospital  \
33003        2023-02-18     James Nelson            Griffin-Foster
12172        2020-09-04        Lisa Hess  Walker Blake, And Hughes
5192         2022-11-22  Nicholas Graves             Robles-Fisher
32511        2021-05-25  Matthew Goodman            Nixon Sons And
50057        2021-03-16      Eric Hudson                Curtis Plc

      Insurance Provider  Billing Amount  Room Number Admission Type  \
33003              Cigna    19092.692951          491       Elective
12172           Medicare    11346.545701          216         Urgent
5192               Aetna    37084.986334          257      Emergency
32511           Medicare    45310.630922          388      Emergency
50057              Cigna    36569.665156          268      Emergency

      Discharge Date   Medication  Test Results First_name    Last_name
33003     2023-03-14      Aspirin  Inconclusive        Jon      Proctor
12172     2020-09-27  Paracetamol  Inconclusive   Michelle      Roberts
5192      2022-12-15   Penicillin        Normal     Robert  Daniels Jr.
32511     2021-06-17    Ibuprofen        Normal      Glenn      Estrada
50057     2021-04-09      Lipitor      Abnormal     Brenda        Davis

In [8]:
# Drop column 'Name'
df.drop(columns=['Name'], inplace=True)

print(df.head())

       Age  Gender Blood Type Medical Condition Date of Admission  \
33003   58  Female         A-          Diabetes        2023-02-18
12172   28  Female         B-            Asthma        2020-09-04
5192    78    Male         A+         Arthritis        2022-11-22
32511   33  Female         B-         Arthritis        2021-05-25
50057   42  Female         B-            Cancer        2021-03-16

                Doctor                  Hospital Insurance Provider  \
33003     James Nelson            Griffin-Foster              Cigna
12172        Lisa Hess  Walker Blake, And Hughes           Medicare
5192   Nicholas Graves             Robles-Fisher              Aetna
32511  Matthew Goodman            Nixon Sons And           Medicare
50057      Eric Hudson                Curtis Plc              Cigna

       Billing Amount  Room Number Admission Type Discharge Date   Medication  \
33003    19092.692951          491       Elective     2023-03-14      Aspirin
12172    11346.545701          216         Urgent     2020-09-27  Paracetamol
5192     37084.986334          257      Emergency     2022-12-15   Penicillin
32511    45310.630922          388      Emergency     2021-06-17    Ibuprofen
50057    36569.665156          268      Emergency     2021-04-09      Lipitor

       Test Results First_name    Last_name
33003  Inconclusive        Jon      Proctor
12172  Inconclusive   Michelle      Roberts
5192         Normal     Robert  Daniels Jr.
32511        Normal      Glenn      Estrada
50057      Abnormal     Brenda        Davis

In [9]:
print(df.columns)

Index(['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Date of Admission',
       'Doctor', 'Hospital', 'Insurance Provider', 'Billing Amount',
       'Room Number', 'Admission Type', 'Discharge Date', 'Medication',
       'Test Results', 'First_name', 'Last_name'],
      dtype='object')

In [10]:
# Desired column order
new_order = [
    'First_name', 'Last_name', 'Age', 'Gender', 'Blood Type', 
    'Medical Condition', 'Date of Admission', 'Doctor', 'Hospital', 
    'Insurance Provider', 'Billing Amount', 'Room Number', 
    'Admission Type', 'Discharge Date', 'Medication', 'Test Results'
]

# Reorder columns
df = df[new_order]

print(df.head())

      First_name    Last_name  Age  Gender Blood Type Medical Condition  \
33003        Jon      Proctor   58  Female         A-          Diabetes
12172   Michelle      Roberts   28  Female         B-            Asthma
5192      Robert  Daniels Jr.   78    Male         A+         Arthritis
32511      Glenn      Estrada   33  Female         B-         Arthritis
50057     Brenda        Davis   42  Female         B-            Cancer

      Date of Admission           Doctor                  Hospital  \
33003        2023-02-18     James Nelson            Griffin-Foster
12172        2020-09-04        Lisa Hess  Walker Blake, And Hughes
5192         2022-11-22  Nicholas Graves             Robles-Fisher
32511        2021-05-25  Matthew Goodman            Nixon Sons And
50057        2021-03-16      Eric Hudson                Curtis Plc

      Insurance Provider  Billing Amount  Room Number Admission Type  \
33003              Cigna    19092.692951          491       Elective
12172           Medicare    11346.545701          216         Urgent
5192               Aetna    37084.986334          257      Emergency
32511           Medicare    45310.630922          388      Emergency
50057              Cigna    36569.665156          268      Emergency

      Discharge Date   Medication  Test Results
33003     2023-03-14      Aspirin  Inconclusive
12172     2020-09-27  Paracetamol  Inconclusive
5192      2022-12-15   Penicillin        Normal
32511     2021-06-17    Ibuprofen        Normal
50057     2021-04-09      Lipitor      Abnormal

In [11]:
# Convert date columns to ISO 8601 format (YYYY-MM-DD)
df['Date of Admission'] = pd.to_datetime(df['Date of Admission']).dt.strftime('%Y-%m-%d')
df['Discharge Date'] = pd.to_datetime(df['Discharge Date']).dt.strftime('%Y-%m-%d')

# Display the first few rows to check the result
print(df.head())

      First_name    Last_name  Age  Gender Blood Type Medical Condition  \
33003        Jon      Proctor   58  Female         A-          Diabetes
12172   Michelle      Roberts   28  Female         B-            Asthma
5192      Robert  Daniels Jr.   78    Male         A+         Arthritis
32511      Glenn      Estrada   33  Female         B-         Arthritis
50057     Brenda        Davis   42  Female         B-            Cancer

      Date of Admission           Doctor                  Hospital  \
33003        2023-02-18     James Nelson            Griffin-Foster
12172        2020-09-04        Lisa Hess  Walker Blake, And Hughes
5192         2022-11-22  Nicholas Graves             Robles-Fisher
32511        2021-05-25  Matthew Goodman            Nixon Sons And
50057        2021-03-16      Eric Hudson                Curtis Plc

      Insurance Provider  Billing Amount  Room Number Admission Type  \
33003              Cigna    19092.692951          491       Elective
12172           Medicare    11346.545701          216         Urgent
5192               Aetna    37084.986334          257      Emergency
32511           Medicare    45310.630922          388      Emergency
50057              Cigna    36569.665156          268      Emergency

      Discharge Date   Medication  Test Results
33003     2023-03-14      Aspirin  Inconclusive
12172     2020-09-27  Paracetamol  Inconclusive
5192      2022-12-15   Penicillin        Normal
32511     2021-06-17    Ibuprofen        Normal
50057     2021-04-09      Lipitor      Abnormal

In [12]:
# Save the updated DataFrame to a new CSV file
df.to_csv('cleaned_healthcare_dataset.csv', index=False)

In [14]:
# Generate PatientID as a unique identifier for each patient
df['PatientID'] = range(1, len(df) + 1)

# Patient Table
# Create a DataFrame with relevant patient information and save to a CSV file
patient_df = df[['PatientID', 'First_name', 'Last_name', 'Age', 'Gender', 'Blood Type', 'Medical Condition']]
patient_df.to_csv('Patient_Table.csv', index=False)

# Generate AdmissionID as a unique identifier for each admission
df['AdmissionID'] = range(1, len(df) + 1)

# Admission Table
# Create a DataFrame with admission-related information, linking it to the PatientID, and save to a CSV file
admission_df = df[['AdmissionID', 'PatientID', 'Date of Admission', 'Doctor', 'Hospital', 
                   'Insurance Provider', 'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date']]
admission_df.to_csv('Admission_Table.csv', index=False)

# Medication Table
# Generate a unique MedicationID for each entry
medication_df = df[['AdmissionID', 'Medication']].copy()  
medication_df.loc[:, 'MedicationID'] = range(1, len(medication_df) + 1)  # Use .loc to set values

# Save the Medication table to a CSV file
medication_df[['MedicationID', 'AdmissionID', 'Medication']].to_csv('Medication_Table.csv', index=False)

# Test Results Table
# Generate a unique TestResultID for each entry
test_results_df = df[['AdmissionID', 'Test Results']].copy()  
test_results_df.loc[:, 'TestResultID'] = range(1, len(test_results_df) + 1)  

# Save the Test Results table to a CSV file
test_results_df[['TestResultID', 'AdmissionID', 'Test Results']].to_csv('Test_Results_Table.csv', index=False)


print("CSV files created: Patient_Table.csv, Admission_Table.csv, Medication_Table.csv, Test_Results_Table.csv")

CSV files created: Patient_Table.csv, Admission_Table.csv, Medication_Table.csv, Test_Results_Table.csv